<p id="notice"><%= notice %></p>

<p>
  <b>Street:</b>
  <%= @address.street %>
</p>

<p>
  <b>Town:</b>
  <%= @address.town %>
</p>

<p>
  <b>Zip code:</b>
  <%= @address.zip_code %>
</p>

<p>
  <b>State:</b>
  <%= @address.state %>
</p>

<p>
  <b>Country:</b>
  <%= @address.country %>
</p>

<%= link_to 'Edit', edit_person_address_path(@address.person, @address) %> |
<%= link_to 'Back', person_addresses_path(@address.person) %>
