<p id="notice"><%= notice %></p>

<p>
  <b>Email address:</b>
  <%= @email.email_address %>
</p>

<p>
  <b>Comment:</b>
  <%= @email.comment %>
</p>

<%= link_to 'Edit', edit_person_email_path(@email.person, @email) %> |
<%= link_to 'Back', @email.person %>
